<div class='container'>
	<h4 class='center'>Referrals</h4>
	<ul class="collapsible popout" data-collapsible="accordion">
	  <% @referral_codes.each do |referral_code| %>
	    <li>
	      <div class="collapsible-header">
			  <i class="material-icons">people</i>
			  Referral code - <%= referral_code.code %>
		  </div>
	      <div class="collapsible-body">
			<table class='responsive-table bordered'>
			  <thead>
			    <tr>
			      <th>#</th>
			      <th>First Name</th>
			      <th>Last Name</th>
				  <th>Email</th>
				  <th>Phone Number</th>
			    </tr>
			  </thead>
			  <tbody>
				  <% referral_code.referrals.each_with_index do |referral, index| %>
				    <tr>
				      <th><%= index+1 %></th>
				      <td><%= referral.first_name %></td>
				      <td><%= referral.last_name %></td>
				      <td><%= referral.email %></td>
					  <td><%= referral.phone_number %></td>
				    </tr>
				  <% end %>
			  </tbody>
			</table>
	      </div>
	    </li>
	  <% end %>
	</ul>
</div>
<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>