<h2>All Users</h2>
	<table class="table">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">First Name</th>
	      <th scope="col">Last Name</th>
		  <th scope="col">Email</th>
		  <th scope="col">Phone Number</th>
		  
	    </tr>
	  </thead>
	  <tbody>
		  <% @users.each_with_index do |user, index| %>
		    <tr>
		      <th scope="row"><%= link_to("#{index+1}", user_path(user)) %></th>
		      <td><%= user.first_name %></td>
		      <td><%= user.last_name %></td>
		      <td><%= user.email %></td>
			  <td><%= user.phone_number %></td>
		    </tr>
		  <% end %>
	  </tbody>
	</table>
		