<!DOCTYPE html>
<html>
  <head>
    <title>ReferralManagement</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
	  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	  <!-- header -->
	  <nav>
		<div class="nav-wrapper">
		<div class='container'>
			<%= link_to 'Referral Management', root_path, class: 'brand-logo' %>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		  <% if user_signed_in? %>
		    <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
		  <% end %>
		  </ul>
		</div>
		</div>
	  </nav>
	  <br>
	  <br>
	    <%= yield %>
  </body>
</html>